<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>xctest-exercise.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>F9B3A3201D8B5E5D0037713C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F9B3A3341D8B5E5D0037713C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F9B3A33F1D8B5E5D0037713C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
